body,
h1,
h2 {
    text-align: center;
    color: black;
    background-color: cornsilk;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
}

.nav-links {
    padding: 20px 0;
    margin-bottom: 10px;
}

.nav-links a {
    color: blue;
    text-decoration: none;
}

.nav-links a:hover {
    color: blue;
}

.nav-links a:visited {
    color: blue;
}

.nav-links a::after {
    color: blue;
}