body {
    text-align: center;
    color: black;
    background-color: cornsilk;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-links {
    padding: 20px 0;
}

.nav-links a {
    color: blue;
    text-decoration: none;
}

.nav-links a:hover {
    color: blue;
}

.nav-links a:visited {
    color: blue;
}

.nav-links a::after {
    color: blue;
}

h1,
h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 5px;
}