body {
    text-align: center;
    color: black;
    background-color: cornsilk;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: blue;
}

.nav-links a:hover {
    color: transparent;
}

.nav-links a:visited {
    color: blue;
}

.nav-links a::after {
    content: " || ";
    color: black;
}

.nav-links a:last-child::after {
    content: "";
}

h1,
h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 2.em;
}