body,
h1,
h2 {
    text-align: center;
    color: black;
    background-color: cornsilk;
    font-family: Arial, sans-serif;
}

ui,
li {
    text-align: left;
    text-wrap: wrap;
}

body {
    font-size: medium;
}

.nav-links>a {
    padding: 20px 0;
    margin-bottom: 10px;
    color: lightblue;
    text-decoration: none;
}

.nav-links>a:hover {
    color: lightblue;
}

.nav-links>a:visited {
    color: lightblue;
}

.nav-links>a:visited:after {
    color: lightblue;
}

figure {
    text-align: center;
    font-style: italic;
}